<div class="max-w-4xl mx-auto p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
    <div class="flex items-center space-x-4 mb-6">
      <img src="https://scontent.fgua9-2.fna.fbcdn.net/v/t39.30808-1/366357823_2994120490732950_5555567653527017975_n.jpg?stp=dst-jpg_p200x200&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=uGVowrcRWYIQ7kNvgHpbf0n&_nc_ht=scontent.fgua9-2.fna&oh=00_AYCGcfMRCk8-lDAC60meVbZQ72dd6DReYrrnR2IsGpAquw&oe=667282DA" alt="Foto de Victor Mendez" class="w-24 h-24 rounded-full">
      <div>
        <h1 class="text-2xl font-bold dark:text-white">Victor David Mendez Chicaj</h1>
        <p class="text-gray-700 dark:text-gray-300">Desarrollador de Software</p>
      </div>
    </div>
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Perfil</h2>
      <p class="text-gray-700 dark:text-gray-300">Estudiante en Ingeniería de Sistemas, donde desarrollo habilidades
        prácticas en programación y análisis de
        sistemas. Apasionado por la tecnología y la innovación, tengo experiencia en proyectos académicos
        utilizando Java, Spring Framework 6 & Spring Boot 3, MySQL, PostgreSQL, Angular, destacando por mi
        capacidad para resolver problemas y adaptarme rápidamente a nuevas herramientas y entornos.
        Comprometido con el aprendizaje continuo y la búsqueda de oportunidades para aplicar mis conocimientos
        en el mundo real.</p>
    </section>
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Habilidades Técnicas</h2>
      <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
        <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg">
          <h3 class="text-lg font-semibold dark:text-white">Lenguajes de Programación:</h3>
          <li class="text-gray-700 dark:text-gray-300">Java</li>
          <li class="text-gray-700 dark:text-gray-300">JavaScript</li>
          <li class="text-gray-700 dark:text-gray-300">TypeScript</li>
          <li class="text-gray-700 dark:text-gray-300">c++</li>
        </div>
        <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg">
          <h3 class="text-lg font-semibold dark:text-white">Frameworks:</h3>
          <li class="text-gray-700 dark:text-gray-300">Spring Boot</li>
          <li class="text-gray-700 dark:text-gray-300">Angular</li>
          <li class="text-gray-700 dark:text-gray-300">TypeScript</li>
          <li class="text-gray-700 dark:text-gray-300">c++</li>
        </div>
        <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg">
          <h3 class="text-lg font-semibold dark:text-white">Bases de Datos:</h3>
          <li class="text-gray-700 dark:text-gray-300">MySQL</li>
          <li class="text-gray-700 dark:text-gray-300">PostgreSQL</li>
        </div>
        <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg">
          <h3 class="text-lg font-semibold dark:text-white">Herramientas y Tecnologías:</h3>
          <li class="text-gray-700 dark:text-gray-300">Git</li>
          <li class="text-gray-700 dark:text-gray-300">AWS</li>
          <li class="text-gray-700 dark:text-gray-300">Docker</li>
        </div>
        <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg">
          <h3 class="text-lg font-semibold dark:text-white">Metodologías:</h3>
          <li class="text-gray-700 dark:text-gray-300">Agile</li>
          <li class="text-gray-700 dark:text-gray-300">Scrum</li>
        </div>
      </ul>
    </section>
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Contacto</h2>
      <ul class="text-gray-700 dark:text-gray-300">
        <li>Email: victormendez.ch7&#64;gmail.com</li>
        <li>Teléfono: +502 41463761</li>
        <li>GitHub: <a href="https://github.com/Calatias7"
            class="text-blue-500 dark:text-blue-400">github.com/VictorMendez</a></li>
      </ul>
    </section>
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Tecnologías</h2>
      <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
        <li class="text-gray-700 dark:text-gray-300"><strong>Maneja:</strong> Angular, Spring Boot, Docker</li>
        <li class="text-gray-700 dark:text-gray-300"><strong>Conoce:</strong> React, Node.js</li>
        <li class="text-gray-700 dark:text-gray-300"><strong>Está Aprendiendo:</strong> Machine Learning, DevOps</li>
      </ul>
    </section>
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Proyectos</h2>
      <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg">
        <h3 class="text-lg font-semibold dark:text-white">Videojuego en RPG Maker</h3>
        <p class="text-gray-700 dark:text-gray-300">Desarrollo de un videojuego estilo RPG utilizando RPG Maker.</p>
        <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
          <li class="text-gray-700 dark:text-gray-300"><strong>Aporte:</strong> Diseño de personajes, niveles y narrativa
            del juego.</li>
          <li class="text-gray-700 dark:text-gray-300"><strong>Beneficio:</strong> Creación de una experiencia de juego
            envolvente y divertida.</li>
        </ul>
      </div>
  
    </section>
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Habilidades Blandas</h2>
      <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
        <li class="text-gray-700 dark:text-gray-300">Comunicación efectiva</li>
        <li class="text-gray-700 dark:text-gray-300">Trabajo en equipo</li>
        <li class="text-gray-700 dark:text-gray-300">Resolución de problemas</li>
        <li class="text-gray-700 dark:text-gray-300">Adaptabilidad</li>
        <li class="text-gray-700 dark:text-gray-300">Pensamiento crítico</li>
      </ul>
    </section>
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Idiomas</h2>
      <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
        <li class="text-gray-700 dark:text-gray-300"> <strong>Español:</strong> Nativo</li>
        <li class="text-gray-700 dark:text-gray-300"><strong>Inglés:</strong> Intermedio</li>
        <li class="text-gray-700 dark:text-gray-300"><strong>Aleman:</strong> Basico</li>
      </ul>
    </section>
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Objetivos</h2>
      <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
        <li class="text-gray-700 dark:text-gray-300">Mejorar continuamente mis habilidades técnicas y blandas.</li>
        <li class="text-gray-700 dark:text-gray-300">Contribuir a proyectos innovadores y desafiantes.</li>
        <li class="text-gray-700 dark:text-gray-300">Alcanzar un rol de liderazgo en desarrollo de software.</li>
        <li class="text-gray-700 dark:text-gray-300">Dominar nuevas tecnologías y herramientas relevantes para mi campo.
        </li>
        <li class="text-gray-700 dark:text-gray-300">Participar activamente en la comunidad de desarrollo, compartiendo
          conocimientos y experiencias.</li>
        <li class="text-gray-700 dark:text-gray-300">Obtener certificaciones reconocidas en áreas específicas de
          desarrollo de software.</li>
        <li class="text-gray-700 dark:text-gray-300">Desarrollar y mantener un portafolio de proyectos destacados y
          contribuciones significativas.</li>
        <li class="text-gray-700 dark:text-gray-300">Convertirme en un mentor efectivo para otros desarrolladores,
          ayudándolos en su crecimiento profesional.</li>
        <li class="text-gray-700 dark:text-gray-300">Buscar oportunidades para liderar equipos y proyectos, demostrando
          habilidades de liderazgo técnico.</li>
        <li class="text-gray-700 dark:text-gray-300">Seguir aprendiendo sobre las últimas tendencias y tecnologías en
          desarrollo de software.</li>
      </ul>
    </section>
  
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Aficiones</h2>
      <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
        <h3 class="text-lg font-semibold dark:text-white">Desarrollo de videojuegos:</h3>
        <li class="text-gray-700 dark:text-gray-300">Crear y diseñar juegos es una pasión que me permite combinar mi
          creatividad con mis habilidades técnicas</li>
        <h3 class="text-lg font-semibold dark:text-white">Lectura:</h3>
        <li class="text-gray-700 dark:text-gray-300">Me apasiona la lectura, especialmente la ciencia ficción y la
          divulgación científica, lo que me permite ampliar mis horizontes y explorar nuevas ideas.</li>
      </ul>
    </section>
  
  
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Intereses</h2>
      <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
        <li class="text-gray-700 dark:text-gray-300">Inteligencia Artificial</li>
        <li class="text-gray-700 dark:text-gray-300">Desarrollo de Software</li>
        <li class="text-gray-700 dark:text-gray-300">Tecnología de vanguardia</li>
        <li class="text-gray-700 dark:text-gray-300">Ciencia de datos</li>
        <li class="text-gray-700 dark:text-gray-300">Inteligencia artificial</li>
        <li class="text-gray-700 dark:text-gray-300">Aprendizaje automático</li>
        <li class="text-gray-700 dark:text-gray-300">Desarrollo web y Desarrollo móvil</li>
        <li class="text-gray-700 dark:text-gray-300">Juegos y simulaciones</li>
        <li class="text-gray-700 dark:text-gray-300">Robótica</li>
        <li class="text-gray-700 dark:text-gray-300">Internet de las cosas (IoT)</li>
        <li class="text-gray-700 dark:text-gray-300">Ciberseguridad</li>
  
      </ul>
    </section>
  
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Experiencia Laboral</h2>
      <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg">
        <h3 class="text-lg font-semibold dark:text-white">Operador Alisto</h3>
        <p class="text-gray-700 dark:text-gray-300">sept. 2021 - Presente</p>
        <p class="text-gray-700 dark:text-gray-300">Centro de Distribución Walmart, Walmart, Villa Nueva</p>
      </div>
      <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg">
        <h3 class="text-lg font-semibold dark:text-white">Bartender</h3>
        <p class="text-gray-700 dark:text-gray-300">feb. 2018 - oct. 2020</p>
        <p class="text-gray-700 dark:text-gray-300">Club La Aurora, 9° Avenida y 15 Calle A zona 13, Guatemala City,
          Guatemala</p>
      </div>
      <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg">
        <h3 class="text-lg font-semibold dark:text-white">Asistente en secretaria</h3>
        <p class="text-gray-700 dark:text-gray-300">septiembre 2021 - Presente</p>
        <p class="text-gray-700 dark:text-gray-300">Municipalidad de Villa Nueva, 5a. Avenida 4-55, Villa Nueva</p>
      </div>
  
    </section>
  
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Sobre Mí</h2>
      <p class="text-gray-700 dark:text-gray-300">Desarrollador proactivo y orientado a resultados, con una fuerte ética
        de trabajo y una pasión por la tecnología. Mi objetivo es seguir creciendo como profesional, contribuir a
        proyectos significativos y convertirme en un líder en el campo del desarrollo de software. Estoy emocionado por lo
        que el futuro me depara en este apasionante mundo de la tecnología.</p>
    </section>
    <section class="mb-6">
      <h2 class="text-xl font-semibold dark:text-white">Descargar CV en PDF</h2>
      <a href="https://drive.google.com/file/d/1ewdAy8HeC7Y3FCSNcHZIHLxJN6rpKRA_/view?usp=drive_link" class="text-blue-500 dark:text-blue-400" download="CV_Victor_Mendez.pdf">
        Descargar CV en PDF
      </a>
    </section>
    
  </div>
  
